<ul class="left_align">
  <% visible = VideoUtils.visible_videos(waza.videos, current_user) %>
  <% if visible.size > 1 %>
    <li class="no_bullet_list"><strong>Other Videos:</strong></li>
    <% visible.each do |vid| %>
      <% next if vid.id == video_id %>
      <li class="no_bullet_list_indented other_videos">
        <%= link_to vid.name(more_info: true), remote_waza_url(waza: waza, video: vid), remote: true %>
      </li>
    <% end %>
  <% end %>
</ul>
