<div class="row">
  <%= render 'shared/lnav', sort_by: @default_sort, selection: @selection, keys: @keys %>
  <% if @waza
    at = exhibit(@waza, self)
  %>
    <%= at.render_body(@waza_format, @video) %>
  <% else %>
    <%= render 'shared/no_video' %>
  <% end %>
</div>

<div id="userNoteModal" class="modal" tableindex="-1" role="dialog" aria-labelledby="userNoteModalTitle" aria-hidden="true"></div>
