<div class="row">
  <%= render 'shared/lnav', type: @type, sort_by: @default_sort, selection: @selection %>
  <% if @waza
    at = exhibit(@waza, self)
  %>
    <%= at.render_body(@video) %>
  <% else %>
    <%= render 'shared/no_video' %>
  <% end %>
</div>
