<div class="section detail pad_sides">
  <% if video.description.present? %>
    <div class="row">
      <div class="col-md-3"><label>Description:</label></div>
      <div class="col-md-9"><%= video.description %></div>
    </div>
  <% end %>

  <% if video.attack_height %>
    <div class="row">
      <div class="col-md-3"><label>Attack Height:</label></div>
      <div class="col-md-9"><%= video.attack_height.name %></div>
    </div>
  <% end %>

  <% if video.copyright.present? %>
    <div class="row">
      <div class="col-md-3"><label>Copyright:</label></div>
      <div class="col-md-9"><%= video.copyright %></div>
    </div>
  <% end %>
</div>
