<div class="lnav col-md-4">
  <%= render 'applied_techniques/filter_form', type: type, sort_by: sort_by %>
  <%= render 'applied_techniques/video_list', selection: @selection, type: type, sort_by: sort_by %>
</div>
