<div class="row">
  <%= render 'shared/lnav', type: @type, sort_by: @default_sort %>
  <% vid = exhibit(@video, self) %>
  <% if vid %>
    <%= vid.render_body %>
  <% else %>
    <%= render 'shared/video', video: nil %>
  <% end %>
</div>
