<footer class="aiki_footer container">
  <div class="row">
    <div class="col-md-12 center">
      <br/>
      Contact Sensei John Bollinger at <%= mail_to 'aikido@aikipeace.com', 'aikido AT aikipeace.com', subject: 'Web Inquiry - Video Library' %> or 210-669-0559.
      <br/>&nbsp;
    </div>
  </div>
  <% if Rails.env.production? %>
    <%= render 'shared/tracking' %>
  <% end %>
</footer>
